@import "tailwindcss";

body {
    background-color: black;
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes loadingBar {
  0% { width: 0%; }
  50% { width: 80%; }
  100% { width: 100%; }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-loadingBar {
  animation: loadingBar 2s ease-in-out infinite alternate;
}


@theme inline {
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1
    var(--delay, 0ms);

  @keyframes cell-ripple {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.4;
    }
  }
}
